* {
    margin:0;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

main {
    background: url('./assets/hero-bg.png');
    max-width: 1600px;
    height: 674px;
    
}
    
    


.general-button {
    border-radius: 4px;
    background-color: rgba(70, 145, 101,1); 
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 16px 12px 16px;
    text-align: center ;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.general-button1 {
width: 251px;
height: 52px;
}

.Special-button {
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 1);
color: rgba(255, 255, 255, 1);
border-radius: 4px;
background:none; 
align-items: center;
width: 198px;
height: 52px;
margin-left: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 16px 120px 16px 120px;
}
.navigation {
    opacity: 0.9; 
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: center; 
    

}
.icon{
    display: flex;
    width: 229px ;
    margin : 0 auto;
    border: 100px ;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    
}

.icon button {
    border: none;
    font-size: 16px;
    font-weight: 500;
     color: rgba(70, 145, 101, 1);
}
.icon img {
    padding:9.5px 6px 9.5px 12px;
    width:16px; height:16px ;
}

.hero-content{
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    

.section-heading {
  max-width: 1360px;
  height: 140px ;
  align-items: center;
  
}
.section-heading h2 {
  font-size: 48px;
  font-weight: 700;
  color: rgba(0, 25, 49, 1);
  margin-top: 60px;
  margin-bottom: 0;

    text-align: center;

    
}
.section-heading p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgba(98, 115, 130, 1);
    margin-top: 16px;

}
.card-design{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px 120px 120px 120px;
    margin-top: 44px;
}
.card-section{
    text-align: center;
    max-width:322px;
    height: 300;   

}
.img-card{
height: 60px;
width: 60px;
 background-color: rgba(249, 85, 85, 1);;
 color: rgba(255, 255, 255, 1);
 border-radius: 50%;

}
.card-section h3 {
    color: rgba(0, 25, 49, 1);

font-size: 24px;
font-weight: 600; 
}
.card-section p {
    font-size: 16px;
font-weight: 400;
color: rgba(98, 115, 130, 1);
}
.main-body-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px;

}
.footer-heading{
 padding: 80px 40px 80px 40px;
max-width: 1600px;
height: 384px;
align-items: center;
text-align: center;
background-color:#F7F6F2;
border: 120px ;
}

.footer-section
{
    
    
    max-width: 1600px;
    padding: 120px 120px 50px 120px;
    background-color:rgba(0, 25, 49, 1);
    display: flex;
    justify-content: space-between;
}
